{% extends 'manager/manager_home.html' %}
{% load static %}
{% block content %}
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #fcfbfb;
    }

    .card-container {
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }

    .card {
        background-color: #ffffff;
        border: 1px solid #dddddd;
        border-radius: 5px;
        box-shadow: 0 2px 4px ff4655;
        padding: 20px;
        margin: 10px;
        width: 400px;
        height: 400px;
        border-radius: 20px;
    }

    .card h1 {
        color: #333333;
        font-size: 20px;
        margin-bottom: 10px;
        text-align: center;
    }

    .card ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .card li {
        margin-bottom: 10px;
        font-size: 10px;
        color: #0a0a0a;
        justify-content: left;
    }
    .e-card {
        margin: 100px auto;
        background: transparent;
        box-shadow: 0px 8px 28px -9px rgba(8, 8, 8, 0.45);
        position: relative;
        width: 440px;
        height: 430px;
        border-radius: 16px;
        overflow: hidden;
        background-color: #0a0a0a;
    }

    .wave {
        position: absolute;
        width: 540px;
        height: 700px;
        opacity: 0.6;
        left: 0;
        top: 0;
        margin-left: -50%;
        margin-top: -70%;
        background: linear-gradient(744deg, #bd3742, #fd0015 60%, #ff0419);
    }

    .icon {
        width: 3em;
        margin-top: -1em;
        padding-bottom: 1em;
    }

    .infotop {
        
        font-size: 17px;
        position: absolute;
        top: 5.6em;
        left: 0;
        right: 0;
        color: rgb(255, 255, 255);
        font-weight: 600;
    }

    .name {
        font-size: 14px;
        font-weight: 100;
        position: relative;
        top: 1em;
        text-transform: lowercase;
    }

    .wave:nth-child(2),
    .wave:nth-child(3) {
        top: 210px;
    }

    .playing .wave {
        border-radius: 40%;
        animation: wave 3000ms infinite linear;
    }

    .wave {
        border-radius: 40%;
        animation: wave 55s infinite linear;
    }

    .playing .wave:nth-child(2) {
        animation-duration: 4000ms;
    }

    .wave:nth-child(2) {
        animation-duration: 50s;
    }

    .playing .wave:nth-child(3) {
        animation-duration: 5000ms;
    }

    .wave:nth-child(3) {
        animation-duration: 45s;
    }

    @keyframes wave {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
</style>

<br><br><br><br><br>

<div class="e-card playing">
    <div class="image"></div>

    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>


    <div class="infotop">
        <h1 style="font-size: 25px; font-weight: bolder; margin-top: -20px; text-align: center;">Booking ID: <span
                style="font-size: 30px; font-weight: bold; color: white;">{{ booking.id }}</span></h1>
        <ul style="margin-top: 60px; margin-left: 45px; color: #0a0a0a; justify-content: left;">
            <li><strong>Booked by:</strong> <span style="color: whitesmoke;">{{ booking.user.username }}</span></li>
            <li><strong>Time Slot:</strong> <span style="color: whitesmoke;">{{ booking.time_slot }}</span></li>
            <li><strong>Theater:</strong> <span style="color: whitesmoke;">{{ booking.theater }}</span></li>
            <li><strong>Movie:</strong> <span style="color: whitesmoke;">{{ booking.movie.name }}</span></li>
            <li><strong>Booked Seat Numbers:</strong> <span style="color: whitesmoke;">{{ booking.booked_seat_numbers }}</span></li>
            <li><strong>Total Amount:</strong> <span style="color: whitesmoke;">{{ booking.total_amount }}</span></li>
            <li><strong>Booking Time:</strong> <span style="color: whitesmoke;">{{ booking.booking_time }}</span></li>
            <!-- Add more booking details if needed -->
        </ul>



    </div>
    {% endblock %}


    <div class="card-container">
        <div class="card">
            <h1 style="font-size: 25px; font-weight: bolder; margin-top: 20px;">Booking ID: <span
                    style="font-size: 30px; font-weight: bold; color: #ff4655;">{{ booking.id }}</span></h1>
            <ul style="margin-top: 30px; margin-left: 20px; color: #ff4655;">
                <li><strong>Booked by:</strong> {{ booking.user.username }}</li>
                <li><strong>Time Slot:</strong> {{ booking.time_slot }}</li>
                <li><strong>Theater:</strong> {{ booking.theater }}</li>
                <li><strong>Booked Seat Numbers:</strong> {{ booking.booked_seat_numbers }}</li>
                <li><strong>Total Amount:</strong> {{ booking.total_amount }}</li>
                <li><strong>Booking Time:</strong> {{ booking.booking_time }}</li>
                <!-- Add more booking details if needed -->
            </ul>
            <!-- Add additional details or actions related to the booking -->
        </div>
    </div>